<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="assignmentDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\01. Paulo Huertas\DBS\2nd Year\Advanced Programming\3-Tier-App\CA\DB\assignmentDB.mdf;Integrated Security=True;Connect Timeout=30"></add>
  </connectionStrings>
</configuration>